.navbar{
    position: fixed;
    width: 100%;
    background-color: #FFF;
    border-bottom: 0.1rem solid rgba(168, 153, 153, 0.47);
    z-index: 10;

}
.router{
    position: absolute;
    margin-top: 8rem;
    width: 100%;
}