<section>
    <aside class="contact-us">
        <span class="titles">
            <span class="title">
                Contact Us
            </span>
            <span class="contents">
                We would love to hear from you! If you have any questions, feedback, or inquiries about our products and
                services, please feel free to reach out to us. Our dedicated team is ready to assist you.
            </span>
        </span>
        <span class="num">
            +974 50634111, +974 66688739
        </span>
    </aside>
    <aside class="our-loc">

    </aside>
</section>